.skills-scroller {
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.skills-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.skills-card {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	margin-top: 10px;
}
.skills-card-info {
	display: none;
	color: var(--red);
}
.skills-card:hover {
	transform: scale(1.2);
	color: var(--red);
}
.skills-card:hover .skills-card-info {
	display: block;
}
.skills-card i {
	font-size: 5rem;
}
